// Primary color
$primary: #34B891;
$primary-invert: findColorInvert($primary);

$colors: (
		"primary": ($primary, $primary-invert),
		"info": ($info, $info-invert),
		"success": ($success, $success-invert),
		"warning": ($warning, $warning-invert),
		"danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;
