<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Unit">
          <directory suffix="Test.php">./tests/backend/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
          <directory suffix="Test.php">./tests/backend/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./backend</directory>
            <exclude>
              <file>./backend/View.php</file>
            </exclude>
        </whitelist>
    </filter>
   <logging>
        <log
            type="coverage-html"
            target="tests/backend/coverage"
        />
        <log
            type="testdox-text"
            target="tests/backend/coverage/testdox.txt"
        />
        <log
            type="coverage-text"
            target="php://stdout"
            showUncoveredFiles="true"
            showOnlySummary="true"
        />
    </logging>
</phpunit>

