@font-face {
    font-family: 'Vazirmatn';
    src: url('/dist/fonts/Vazirmatn-Regular.woff2') format('woff2'),
         url('/dist/fonts/Vazirmatn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/dist/fonts/Vazirmatn-Medium.woff2') format('woff2'),
         url('/dist/fonts/Vazirmatn-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/dist/fonts/Vazirmatn-Bold.woff2') format('woff2'),
         url('/dist/fonts/Vazirmatn-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('/dist/fonts/Vazirmatn-Bold.woff2') format('woff2'),
         url('/dist/fonts/Vazirmatn-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
[dir="rtl"] {
    direction: rtl;
    text-align: right;

    body {
        direction: rtl;
        color: #000000;
        font-family: 'Vazirmatn', tahoma, arial;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    .textarea {
        direction: ltr;
    }

    .search-btn[data-v-081c0a81] {
        margin-left: 10px;
        margin-right: unset;
    }

    #multi-actions a[data-v-081c0a81] {
        margin: 0 0 15px 15px;
    }

    .dropdown .dropdown-menu .has-link a,
    a.dropdown-item,
    button.dropdown-item {
        padding-left: 3rem;
        padding-right: unset;
        text-align: right;
    }

    table td:not([align]),
    table th:not([align]) {
        text-align: right;
    }

    .b-table .table th .th-wrap .icon {
        margin-left: 0;
        margin-right: .5rem;
        font-size: 1rem;
    }

    .b-table .table th .th-wrap.is-numeric {
        flex-direction: unset;
        text-align: right;
    }

    .progress-icon[data-v-07f55d0a] {
        margin-right: 15px;
        margin-left: unset;
    }

    .progress-items[data-v-07f55d0a] {
        overflow-y: hidden;
        margin-left: -100px;
        padding-left: 100px;
        max-height: 300px;
        margin-right: unset;
        padding-right: unset;
    }

    .navbar-burger {
        margin-left: unset;
        margin-right: auto;
    }

    @media screen and (min-width: 1024px) {
        .navbar-end {
            justify-content: flex-end;
            margin-right: auto;
            margin-left: unset;
        }
    }

    @media (min-width: 1088px) {
        .logo img[data-v-cd57c856] {
            max-height: 3.5rem !important;
        }
    }
}
